
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="1">
  <img src="//pimg.us.marykaycdn.com/HeroList/10003/J2003101-UNL-GB-088-MARYKAY-INSTANT-PUFFINESS-REDUCER.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Instant Puffiness Reducer"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-instant-puffiness-reducer-990290184" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$35"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="2">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2003169-UNL-GB-0368-OIL-FREE-EYE-MAKEUP-REMOVER.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW and IMPROVED Mary Kay Oil-Free Eye Makeup Remover"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-oil-free-eye-makeup-remover-990299632" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$20"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="3">
  <img src="//pimg.us.marykaycdn.com/HeroList/10003/2022-01-26-CLINICAL-SOLUTIONS-BOOSTER-SOLDIER-REDUCER.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Clinical Solutions C + Resveratrol Line-Reducer"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-clinical-solutions-c-resveratrol-line-reducer-990284878" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$38"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="4">
  <img src="//pimg.us.marykaycdn.com/HeroList/10003/mary-kay-tw-replenishing-serum-c-e.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"TimeWise Replenishing Serum C+E"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/timewise-replenishing-serum-c-e-990279409" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$60"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="5">
  <img src="//pimg.us.marykaycdn.com/HeroList/10001/mary-kay-satin-hands-shea-hand-soap.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Fragrance-Free Satin Hands Shea Hand Soap"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/satin-hands-shea-hand-soap-990278921" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$10"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="6">
  <img src="//pimg.us.marykaycdn.com/HeroList/10002/mary-kay-foundation-primer-sunscreen-broad-spectrum-spf-15.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Foundation Primer Sunscreen Broad Spectrum SPF 15*"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-foundation-primer-sunscreen-broad-spectrum-spf-15-110601" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$20"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="7">
  <img src="//pimg.us.marykaycdn.com/HeroList/10002/mary-kay-cc-cream-sunscreen-broad-spectrum-light-to-medium.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay CC Cream Sunscreen Broad Spectrum SPF 15*"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-cc-cream-sunscreen-broad-spectrum-spf-15-lighttomedium-111651" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$22"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="8">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/394559_007_PerfectingConcealer_UnderEyeCorrector.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Undereye Corrector"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-undereye-corrector-300291" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$16"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="9">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/mary-kay-ultimate-mascara.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Ultimate Mascara"</h5>
    <a href="https://www.marykay.com/en-us/products/best-sellers/mary-kay-ultimate-mascara-black-990313442" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$16"</a>
  </div>
</div>
</div>