
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="1">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2008051-UNL-US-011-TW-Daytime-Defender-SPF30-WT.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise Daytime Defender Sunscreen Broad Spectrum SPF 30"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-daytime-defender-spf-30-990307128" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$34"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="2">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2008051-UNL-GB-024-TW-4-1-Cleanser-WT.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise 4-in-1 Cleanser"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-4-in-1-cleanser-combination-to-oily-990313033" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$26"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="3">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2008051-UNL-GB-021-TW-Antioxidant-Moisturizer-WT.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise Antioxidant Moisturizer"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-antioxidant-moisturizer-normal-dry-990307130" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$34"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="4">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/PIM-Hero-J2008639-UNL-US-074-TWMS-Regimen-OOA.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise Miracle Set"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-miracle-set-normal-dry-990312970" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$116"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="5">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2008051-UNL-GB-021-TW-Antioxidant-Moisturizer-WT.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise Antioxidant Moisturizer"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-antioxidant-moisturizer-combination-oily-990313694" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$34"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="6">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/PIM-Hero-J2008639-UNL-US-074-TWMS-Regimen-OOA.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise Miracle Set"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-miracle-set-combination-oily-990312971" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$116"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="7">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/J2008051-UNL-GB-010-TW-Eye-Cream-WT.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise Eye Cream"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-eye-cream-990307131" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$38"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="8">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2008051-UNL-EU-389-TW-Miracle-Set-Delux-Minis-WT.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise Miracle Set The Go Set"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-miracle-set-the-go-set-combination-to-oily-990313706" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$28"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="9">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2008051-UNL-EU-389-TW-Miracle-Set-Delux-Minis-WT.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise Miracle Set The Go Set"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-miracle-set-the-go-set- normal-to-dry-990311880" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$28"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="10">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2008051-UNL-GB-014-TW-Nighttime-Recovery.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise Nighttime Recovery"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-nighttime-recovery-990307129" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$34"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="11">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2008051-UNL-GB-024-TW-4-1-Cleanser-WT.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! TimeWise 4-in-1 Cleanser"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/timewise-4-in-1-cleanser-normal-dry-990307127" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$26"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="12">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/10223244 .png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! Ultimate TimeWise Miracle Set"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/ultimate-timewise-miracle-set-combination-to-oily-990314980" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$150"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="13">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/10223244 .png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! Ultimate TimeWise Miracle Set"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/ultimate-timewise-miracle-set-normal-to-dry-990314981" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$150"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="14">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PH-Beyond-Ultimate-TimeWise-Miracle-Set.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW! Beyond Ultimate TimeWise Miracle Set"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/beyond-ultimate-timewise-miracle-set-normal-to-dry-990315016" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$208"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="15">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PH-Beyond-Ultimate-TimeWise-Miracle-Set.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"New Beyond Ultimate TimeWise Miracle Set"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/beyond-ultimate-timewise-miracle-set-combination-to-oily-990315017" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$208"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="16">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2008051-UNL-GB-108-LE-Mandarin-Blooms-Body-Wash-WT.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Mandarin Blooms Body Wash"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/limited-edition-mary-kay-mandarin-blooms-body-wash-990307690" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="17">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/MKMen-Citrus-Woods-Body-Wash-WHITE.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition MKMen Citrus Woods Body Wash "</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/limited-edition-mkmen-body-wash-citrus-woods-990307693" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="18">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2008051-UNL-GB-111-LE-Mandarin-Blooms-Body-Care-Set-WT_1.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Body Care Set"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/limited-edition-mary-kay-body-care-set-990307780" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$30"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="19">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2003169-UNL-GB-0368-OIL-FREE-EYE-MAKEUP-REMOVER.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"NEW and IMPROVED Mary Kay Oil-Free Eye Makeup Remover"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-oil-free-eye-makeup-remover-990299632" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$20"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="20">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/PIM-Herorub-Waterproof-EyeLiner-Steely.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Eyeliner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-eyeliner-steely-990314689" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="21">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-WP-EyeLiner-Black-Hero-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Eyeliner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-eyeliner-black-990314687" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="22">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero--WP-EyeLiner-Blue-Hero-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Eyeliner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-eyeliner-blue-990314688" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="23">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-037-WP-EL-Brown-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Eyeliner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-eyeliner-brown-990314690" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="24">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM--Waterproof-Lip-Liner-Pink-Hero-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Lip Liner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-lip-liner-pink-nude-990314692" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="25">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/MD Shimmer Liquid Eye Rose.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Shimmer Liquid Eye Shadow"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/limited-edition-mary-kay-shimmer-liquid-eye-shadow-rose-990306252" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="26">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/MD Shimmer Liquid Eye Champagne.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Shimmer Liquid Eye Shadow"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/limited-edition-mary-kay-shimmer-liquid-eye-shadow-champagne-990306251" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="27">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/MD Shimmer Liquid Eye Sparkling.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Limited-Edition Mary Kay Shimmer Liquid Eye Shadow"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/limited-edition-mary-kay-shimmer-liquid-eye-shadow-sparkling-990306250" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$18"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="28">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2007500-UNL-GB-075-LE-Matte-Liquid-Lipstick-Must-Have-Mauve.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Special-Edition Mary Kay Matte Liquid Lipstick"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/special-edition-mary-kay-matte-liquid-lipstick-must-have-mauve-990311672" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$20"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="29">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2007500-UNL-GB-060-LE-Matte-Liquid-Lipstick-Burgundy-Orchid (1).png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Special-Edition Mary Kay Matte Liquid Lipstick"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/special-edition-mary-kay-matte-liquid-lipstick-burgundy-orchid-990311669" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$20"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="30">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/J2007500-UNL-GB-065-LE-Matte-Liquid-Lipstick-Classic-Red.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Special-Edition Mary Kay Matte Liquid Lipstick"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/special-edition-mary-kay-matte-liquid-lipstick-classic-red-990311670" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$20"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="31">
  <img src="//pimg.us.marykaycdn.com/HeroList/10000/J2007500-UNL-GB-071-LE-Matte-Liquid-Lipstick-Modern-Nude.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Special-Edition Mary Kay Matte Liquid Lipstick"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/special-edition-mary-kay-matte-liquid-lipstick-modern-nude-990311671" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$20"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="32">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2007500-UNL-GB-081-LE-Matte-Liquid-Lipstick-Rich-Espresso.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Special-Edition Mary Kay Matte Liquid Lipstick"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/special-edition-mary-kay-matte-liquid-lipstick-rich-espresso-990311666" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$20"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="33">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM-Hero-J2008922-SPRING-DM-ES-PDP-60th-Anni-Skinvig-1-26-23-en.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"60th Anniversary Special! Skinvigorate Sonic Skin Care System"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/60th-anniversary-special-skinvigorate-sonic-skin-care-system-990310175" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$60"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="34">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM--Waterproof-Lip-Liner-Beige-Hero-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Lip Liner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-lip-liner-beige-nude-990314693" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="35">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM--Waterproof-Lip-Liner-Mauve-Hero-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Lip Liner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-lip-liner-mauve-nude-990314694" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="36">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/10205944-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Lip Liner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-lip-liner-red-990314801" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="37">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/10205945-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Lip Liner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-lip-liner-berry-990314802" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="38">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/10205943-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Lip Liner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-lip-liner-hot-pink-990314803" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="39">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/10205942-Hero-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Lip Liner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-lip-liner-rose-990314804" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="40">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/10205941-3-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Lip Liner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-lip-liner-truffle-nude-990314806" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-3">
<div class="card shadow" id="41">
  <img src="//pimg.us.marykaycdn.com/HeroList/10004/PIM--053-Waterproof-Lip-Liner-Auburn-Hero-Rub.png" class="card-img-top fpi" alt="product img" style="max-height: 18rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Alkatra', cursive; font-size: 1.5rem" >"Mary Kay Waterproof Lip Liner"</h5>
    <a href="https://www.marykay.com/en-us/products/new-products/mary-kay-waterproof-lip-liner-auburn-nude-990314695" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="btn btn-info btn btn-outline-light">Info</a>
    <a href="https://www.google.com/search?q=1+dolar+in+mdl&source=hp&ei=jvxHZJ3SOpiQgQa8q56QDw&iflsig=AOEireoAAAAAZEgKnpIaWVcY0k6XrEn1eLThr4CguJSb&ved=0ahUKEwid0fHrtsX-AhUYSMAKHbyVB_IQ4dUDCAk&uact=5&oq=1+dolar+in+mdl&gs_lcp=Cgdnd3Mtd2l6EAMyCggAEIAEEEYQggIyBggAEBYQHjIGCAAQFhAeOgsIABCKBRCxAxCDAToLCAAQgAQQsQMQgwE6CAgAEIoFELEDOggIABCABBCxAzoFCAAQgAQ6CAguEIoFELEDOhEILhCABBCxAxCDARDHARDRAzoICC4QgAQQ1AI6BwgAEIAEEApQ5gpYoypgrCxoA3AAeACAAdMBiAGJDZIBBTMuOS4ymAEAoAEBsAEA&sclient=gws-wiz" style="font-family: 'Pacifico', cursive; font-size: 1.3rem" class="info-button-card btn btn-light btn btn-outline-secondary">"$14"</a>
  </div>
</div>
</div>